.mat-dialog-btns{
    display: flex;
    justify-content: end;
    gap: 0.5vw;
}
.textarea-container{
    border:1px solid rgba(0, 0, 0, 0.432);
    display: flex;
    align-items: center;
    margin-top: 4vh;
    justify-content: space-between;
    border-radius: 20px;
    padding: 0 2vh;
}
.chat-input {
    overflow: hidden;
    resize: none;
    height: auto;
    border: none;
    width: 100%;
}
.chat-input:focus-visible {
    overflow: hidden;
    resize: none;
    border: none;
    outline: none;
}
.dialog-sub-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;
}
.heading{
    display: flex;
    justify-content: space-between;
    margin: 2vh 1vw;
}
.mat-mdc-form-field-subscript-wrapper{
    display: none;
}
.send-message-button{
    --mdc-icon-button-icon-color:white !important;
    margin: 0.5vh 0;
    border-radius: 10px;
    background-color: rgb(146, 146, 146);
    background-color: #141414
}
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }